{% extends "base.html" %}

{% block title %}Book Details{% endblock %}

{% block body %}
    <div class="row">
        <div class="row">
            <h1>Book Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul style="width=100%;" class="list-group">
                <li class="list-group-item list-group-item-action">
                    <span>Isbn: </span> {{ book.isbn }}
                </li>   
                <li class="list-group-item list-group-item-action">
                    <span>Title: </span> {{ book.title }}               
                </li>  
                <li class="list-group-item list-group-item-action">
                    <span>Author: </span> {{ book.author }}               
                </li>  
                <li class="list-group-item list-group-item-action">
                    <span>Year: </span> {{ book.year }}          
                </li>  
                <li class="list-group-item list-group-item-action">
                    <span>Average score: </span> {{ book.average }}               
                </li>  
                <li class="list-group-item list-group-item-action">
                    <span>Nr of reviews: </span> {{ book.nr_reviews }}
                </li>  
                <small><h1 style="margin-top:5px">Reviews:</h1></small>
                <ul style="width=100%;" class="list-group">
                    {% if reviews is not none %}
                        {% for review in reviews %}
                            <li class="list-group-item list-group-item-action">
                                <span>Score: </span> {{ review.score }}<br>
                                <span>Description: </span> {{ review.review }}<br>
                                <span>Reviewer: </span> {{ review.reviewer }} <br>
                            </li> 
                        {% endfor %}
                    {% else %}
                        <small><h2>No reviews yet for this book</h2></small>
                    {% endif %}
                </ul>
                <small><h1 style="margin-top:5px">GoodReads Reviews Data:</h1></small>
                <ul style="width=100%;" class="list-group">
                    {% if goodreads_data is not none %}
                        <li class="list-group-item list-group-item-action">
                            <span>Average Rating: </span> {{ goodreads_data.average_rating }}<br>
                            <span>Nr of Ratings: </span> {{ goodreads_data.ratings_count }}<br>
                        </li> 
                    {% else %}
                        <small><h2>No reviews in GoodReads</h2></small>
                    {% endif %}
                </ul>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; margin-bottom:50px">
        <div class="col">
            {% if invalid %}
                <div class="alert alert-danger" role="alert">
                    You've already reviewed this book
                </div>
            {% endif %}
            <form action="{{ url_for('add_review') }}" method="post">
                <input type="hidden" name="book" value={{ book.isbn }}>
                <div class="form-group">
                    <label for="review_desc">Add a Review:</label><br>
                    <textarea class="form-control" type="text" name="review_desc" placeholder="Write your review here..."></textarea>
                </div>
                <div class="form-group">
                    <label for="score">Score:</label><br>
                    <select class="form-control" name="score">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>          
                </div>
                <button type="submit" class="btn btn-primary">Add Review</button>
            </form>
        </div>
    </div>
{% endblock %}
