{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="row button-div">
        <form class="form-inline active-cyan-4" action="{{ url_for('books') }}" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="search_parameter" placeholder="Search...">
                <button class="btn btn-elegant btn-rounded" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <h1>Hello {{ user }}</h1>        
    </div>
    <div class="row">
        <h2>Books</h2>
    </div>
    {% if review_added %}
        <div class="alert alert-danger" role="alert">
            Review added
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% if books|length > 0 %}
                <ul style="width=100%;" class="list-group">
                    {% for book in books %}
                        <li class="list-group-item list-group-item-action">
                            <a class="book-link" href="{{ url_for('get_book', book_isbn=book.isbn) }}">
                                <span>
                                    Isbn: {{ book.isbn }}<br>
                                    Title: {{ book.title }}<br>
                                    Author: {{ book.author }}
                                </span>
                            </a>  
                        </li>       
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No books fit the criteria</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}