{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div class="row align-items-center">
    <div class="col-lg-6 col-sm-12 align-self-center">
        <form method="get" action="{{ url_for('registration') }}">
            <button class="login_button" type="submit">Register</button>
        </form>
    </div>

    <div class="col-lg-6 col-sm-12 align-self-center">
        <form method="get" action="{{ url_for('log_in') }}">
            <button class="login_button" type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}
